:root {
  --Base:   #1e1e2e;
  --Mantle: #181825;
  --Text:   #cdd6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", monospace;
  color: var(--Text);
}

body {
  background-color: var(--Base);
}

nav {
  width: 17.5vw;
  height: 100vh;
  background-color: yellow;
}
